.tryborder{
    border: 3px solid black;
}
.topSellImg{
    position: relative;
    width: max-content;
    height: 250px;
}
.imgSell{
    width: fit-content;
    height: 250px;
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item.topSellSlide>div {
        display: none;
    }

    .carousel-inner .carousel-item.topSellSlide>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.topSellSlide.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner.carcom .carousel-item-end.active,
    .carousel-inner.carcom .carousel-item-next {
        transform: translateX(33.33%);
    }

    .carousel-inner.carcom .carousel-item-start.active,
    .carousel-inner.carcom .carousel-item-prev {
        transform: translateX(-33.33%);
    }
}

.carousel-inner.carcom .carousel-item-end,
.carousel-inner.carcom .carousel-item-start {
    transform: translateX(0);
}

/* .video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.content-box {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.video-imgbox{
    display: flex;
    
} */