.tryborder{
    border: 3px solid black;
}
#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 1000;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}
#backToTop img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
}

.dropdown-menu a:hover,.dropdown-menu #logoutButton:hover{
    color: black !important;
}

.border-primary{
    border-color: #f39c12 !important;
}

.topSellImg{
    position: relative;
    width: max-content;
    height: 250px;
}
.imgSell{
    width: fit-content;
    height: 250px;
}
.card-img-top{
    width: 100%;
    height: 22.3rem;
    object-fit: cover;
}
@media (max-width: 767px) {
    .card-img-top{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item.topSellSlide>div {
        display: none;
    }

    .carousel-inner .carousel-item.topSellSlide>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.topSellSlide.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner.carcom .carousel-item-end.active,
    .carousel-inner.carcom .carousel-item-next {
        transform: translateX(33.33%);
    }

    .carousel-inner.carcom .carousel-item-start.active,
    .carousel-inner.carcom .carousel-item-prev {
        transform: translateX(-33.33%);
    }
}

.carousel-inner.carcom .carousel-item-end,
.carousel-inner.carcom .carousel-item-start {
    transform: translateX(0);
}

.backLogin{
    background-image: url(../img/login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.backSignup{
    background-image: url(../img/signup.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.proImage{
    background-image: url(../img/main1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* testiminial*/
.testiborder{
    border: 10px double #f39c12;
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item.testislide>div {
        display: none;
    }

    .carousel-inner .carousel-item.testislide>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.testislide.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner.testi .carousel-item-end.active,
    .carousel-inner.testi .carousel-item-next {
        transform: translateX(33.33%);
    }

    .carousel-inner.testi .carousel-item-start.active,
    .carousel-inner.testi .carousel-item-prev {
        transform: translateX(-33.33%);
    }
}

.carousel-inner.testi .carousel-item-end,
.carousel-inner.testi .carousel-item-start {
    transform: translateX(0);
}
/* nav */
.nav-item .active {
    color: #f39c12 !important;
}
.nav-link:hover {
    color: #f39c12 !important;
}
.dropdown-menu a:hover {
    background-color: black !important;
    color: #f39c12 !important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: black !important;
}
/* footer */
.footlink{
    text-decoration: none;
}
.footlink:hover{
    color: #f39c12 !important;
}