
<div class="row m-0">
    <div class="col-md-3 p-4">
        <h3 class="text-white fw-bold">Dial Type</h3>
        <a href="http://" class="text-white footlink"><i
                class="bi bi-watch text-white me-2"></i>Automatic</a><br>
        <a href="http://" class="text-white footlink"><i class="bi bi-watch text-white me-2"></i>Quartz</a><br>
        <a href="http://" class="text-white footlink"><i
                class="bi bi-watch text-white me-2"></i>Chronograph</a><br>
        <a href="http://" class="text-white footlink"><i class="bi bi-watch text-white me-2"></i>Diver</a><br>
        <a href="http://" class="text-white footlink"><i
                class="bi bi-watch text-white me-2"></i>Smartwatch</a><br>
    </div>
    <div class="col-md-3 p-4">
        <h3 class="text-white fw-bold">Vehicle Company</h3>
        <a href="http://" class="text-white footlink"><i class="bi bi-watch text-white me-2"></i>Rado</a><br>
        <a href="http://" class="text-white footlink"><i class="bi bi-watch text-white me-2"></i>Citizen</a><br>
        <a href="http://" class="text-white footlink"><i class="bi bi-watch text-white me-2"></i>Fossil</a><br>
        <a href="http://" class="text-white footlink"><i class="bi bi-watch text-white me-2"></i>Armani Exchange</a><br>
        <a href="http://" class="text-white footlink"><i class="bi bi-watch text-white me-2"></i>Omega</a><br>
    </div>
    <div class="col-md-3 p-4">
        <h3 class="text-white fw-bold">Company</h3>
        <a href="http://" class="text-white footlink"><i
                class="bi bi-watch text-white me-2"></i>Term&Condition</a><br>
        <a href="http://" class="text-white footlink"><i class="bi bi-watch text-white me-2"></i>Private
            policy</a><br>
        <a href="http://" class="text-white footlink"><i class="bi bi-watch text-white me-2"></i>Booking
            procedure</a><br>
    </div>
    <div class="col-md-3 p-4">
        <h3 class="text-white fw-bold">Contact</h3>
        <a href="http://" class="text-white footlink me-2"><i class="bi bi-facebook"
                style="font-size: 1.6rem;"></i></a>
        <a href="http://" class="text-white footlink me-2"><i class="bi bi-whatsapp"
                style="font-size: 1.6rem;"></i></a>
        <a href="http://" class="text-white footlink me-2"><i class="bi bi-envelope"
                style="font-size: 1.6rem;"></i></a>
    </div>
</div>
<hr style="color: var(--bg-text-white)">
<div class="row p-0">
    <div class="col-6 ps-4">
        <p class="text-white ">©WristWonders, all rights reserved.</p>
    </div>
    <div class="col-6 align-self-end">
        <p class="text-white ">Distributed By, Gujjus</p>
    </div>
</div>